@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');
*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  box-sizing: border-box;
}
::selection{
  background-color: #ffffff92;
  color: #1C0066;
}
::-webkit-scrollbar{
  width: 0px;
}
.MXSOFT{
  color: #1C0066;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Убираем горизонтальный скролл */
  font-family: "Lato", serif;
  margin: 0 auto;
}
.h1_header {
  font-weight: 800;
  font-size: 50px;
  color: white;
}

.p_header {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.banner1 {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: #1C0066;
  background-image: url(./images/banner.jpg);
  padding: 0 50px; 
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner1_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Выравнивание текста по левому краю */
  justify-content: center;
  width: 50%; /* Половина экрана для текста */
}

.img_banner1{
  background-image: url(./LOGO/1сс.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 60%;
  z-index: 11;
  background-position: end;
  position: absolute;
  margin-left: 40%;
  top: 30%;
  height: 70%;
}





.btn_holder {
  display: flex;
  gap: 20px; /* Пространство между кнопками */
  margin-top: 20px;
}

.btn_holder button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s all;
}

.btn_holder button:hover {
  transform: scale(1.1);
  background-color: #4400ff;
  color: white;
}





.d_flex3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.position_fixed{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.bg-black{
  background-color: #1C0066;
}

.logo-img {
  max-height: 100px; /* Ограничение высоты логотипа, чтобы он выглядел аккуратно */

}

.navbar-toggler {
  background-color: white; /* Если кнопка не видна, делаем фон белым */
  border: none;
}

.navbar-toggler-icon {
  background-color: black; /* Полоски бургер-меню остаются чёрными */
}




.header{
  display: flex;
  justify-content: space-between;
  /* width: 1294px; */
  width: 100%;
  align-items: center;
  backdrop-filter: blur(5px);
  height: 70px;
  position: fixed;
  padding: 10px 0px;
  background-color: #1C0066;
  margin: 0 auto;
  /* box-shadow: 10px 10px 10px #1C0066; */
}
.restrictions_for_header{
  display: flex;
  justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
  align-items: center;
}



/* .about_right{
  border: 1px solid #1C0066;
} */
.bolt{
  font-weight: 700;
}

.read_more{
  font-weight: 900;
  /* font-family: sans-serif; */
  font-size: 19px;
}
.w200h200{
  width: 100px;
  height: 300px;
}

.border_radius{
  border-radius: 20px;
}
.h1_margin{
  font-weight: 800;
  display: flex;
  justify-content: center;
  /* color: white; */
  /* padding-bottom: 50px; */
  margin: 0 auto;
}
.btnHeader{
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  background-color: #4400ff;
  color: rgba(255, 255, 255, 0.743);
  font-weight: 500;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.btnHeader i{
  background-color: #4400ff52;
  margin-top: 4px;
}
.btnHeader:hover{
  color: white;
  transform: scale(1.1);
}


.sponsor-wrapper {
  overflow: hidden; /* Скрываем всё, что выходит за пределы контейнера */
  width: 100%; /* Контейнер занимает всю ширину */
  position: relative; /* Для анимации */
}

.sponsor {
  display: flex;
  gap: 20px; /* Расстояние между картинками */
  animation: scroll 10s linear infinite; /* Анимация бесконечного движения */
}

.img_holder {
  flex: 0 0 auto; /* Фиксируем размер каждого элемента */
  width: 200px;
  height: 200px;
}

.img_holder img {
  width: 150px;
  height: 150px;
}

/* Анимация прокрутки */
@keyframes scroll {
  0% {
    transform: translateX(0); /* Начальное положение */
  }
  100% {
    transform: translateX(-50%); /* Сдвиг на половину ширины блока */
  }
}









.our_partners h1{
  font-size: 34px;
  font-weight: 800;
}
.our_partners{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 20px;
}
.link_forTG{
  color: white;
  transition: 0.2s all;
  font-size: 27px;
}
.link_forTG:hover{
  color: red;
  transform: scale(1.1);
}
.d_flex_map{
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}
.map{
  padding-top: 150px;
}


.KPI_text{
  font-size: 70px;
  color: white;
  font-weight: 700;
}
  





  
  .nav__logo{
    width: 80px;
    height: 80px;
  }


  
  
  
  
  .nav__menu {
    display: flex;
    justify-content: end;
  }

  
  .nav__menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav__menu ul li {
    list-style: none;
  }
  
  .nav__menu ul li a {
    text-decoration: none;
    color: #ffffff92;
    padding: 1rem;
    display: block;
  }
  
  .nav__menu li a:hover {
    color: rgb(255, 255, 255);
  }
  
  .nav__menu__link{
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
  }
  .nav__menu__link a{
    display: flex;
    align-items: center;
  }
  .nav__menu__link i {
    margin-right: 8px; /* Расстояние между иконкой и текстом */
    font-size: 16px; /* Устанавливаем размер иконки */
  }
  .nav__menu__link1{
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .d_flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .d_flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .con_bg{
    height: auto;
  }
  .img_responsive{
    width: 70px;
    height: 70px;
  }
  .d_block{
    display: none;
  }
  /* MEDIA QUERIES */
  .software{
    padding: 40px 0px;
  }

  @media screen and (max-width:1264px) {
    .nav__menu__link{
        font-size: 18px;
    }
    .banner1{
      display: flex;
      flex-direction: column;
    }
    .banner1_text{
      padding-top: 200px;

    }
  }
  @media screen and (max-width:1050px) {
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 20px;
        display: none;
    }
    .d_block{
      display: block;
      height: 60px;
    }
    .navbar{
      height: 40px;
    }
    .nav__logo{
      height: 40px;
      width: 40px;
    }
    .nav__hamburger {
        display: flex;
        justify-content: end;
        gap: 5px;
        margin-top: 30px;
    }
    .nav__menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateY(-100%);
        opacity: 0;
        transition: all 0.4s ease-in-out;
        z-index: 100;
      }
      /* .nav__menu {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        display: none;
        top: -10rem;
        width: 100%;
        transition: all ease-in-out 0.4s;
      } */
      .nav {
        flex-direction: column;
        align-items: flex-start;
      }
      .nav__menu ul {
        flex-direction: column;
        width: 100%;
        padding: 3rem 0 0.6rem;
      }
      .nav__menu ul li {
        text-align: center;
      }
      .nav__menu ul li a {
        padding: 0.5rem;
      }
      .nav__menu {
        z-index: -1;
      }
      .nav__menu.active {
        transform: translateY(0);
        opacity: 1;
      }
      
      .nav__hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      
      .nav__hamburger.active span:nth-child(2) {
        opacity: 0;
      }
      
      .nav__hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
      .h1_header{
        margin-left: -20px;
      }
 }











 
@media screen and (max-width:850px) {
   
  .header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    display: none;
    padding: 0px 20px;
  }
  .btn_holder{
    /* flex-direction: column;   */
    margin-left: -100px;
  }
  .h1_header{
    width: 400px;
  }
  .mt200{
    margin-top: 400px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .left{
    gap: 10px;
  }
  .left a{
    font-size: 17px;
  }
  .KPI_text{
    font-size: 50px;
  }
  .left a{
    display: none;
  }
  .burger_bar{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
  }
}
@media screen and (max-width:600px) {
  .h1_header{
    font-size: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -70px;
  }
  .img_banner1{
    width: 100%;
    height: 300px;
    top: 600px;
    left: 0px;
    border-radius: 1px;
    /* display: none; */
  }
  .btn_holder{
    flex-direction: column;
    margin: 0 auto;
    margin-left: 30px;
    justify-content: center;

  }
  .p_header{
    font-size: 20px;
    width: 400px;
  }
  .btn_holder button{
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
    .left a{
        display: none;
    }    
    .right{
        display: block;
    }
    .right p{
        font-size: 15px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        display: none;
    }
    .KPI_text{
        font-size: 30px;
    }
    .read_more{
        font-size: 12px;
        padding: 10px 5px;
    }
}
@media screen and (max-width:440px){
  .btn_holder{
    flex-direction: column;
  }
  .h1_header{
    font-size: 24px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-left: -20px;
  }
  .p_header{
    font-size: 12px;
    width: 200px;
  }
  .btn_holder{
    margin-left: 20px;
  }
  .btn_holder button{
    width: 170px;
    height: 40px;
    font-size: 12px;
    padding: 2px;
  }
}
@media screen and (max-width:378px) {
    .software_img{
        display: none;
    }
    .mt200{
        margin-top: 20px;
    }
    .KPI_text{
        font-size: 29px;
    }
    .read_more{
        font-size: 15px;
        padding: 10px 2px;
    }
 }